#barra_navegacion{

font-family: 'Bad Script', cursive;
margin-right: 2%;
font-size: 100%;

}	
#logo{

	margin-left: 2%;
}

.titulo{

	font-family: 'Bad Script', cursive;
}

hr{
   height: 51px;
   width: 100%; 
   background: url(../IMG/separador.png) no-repeat center; 
   border: none;
}